<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAT-A-BURGER</title>
    <link rel="stylesheet" href="./ccs/reset.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div>
        <img src="./images/2020_Burger_Madlove.png" alt="">
        <div id="instructions">
            <p>See a burger you like devour it!</p>
            <p>Don't see a burger you want? Make a new one!</p>
        </div>
    </div>
    {{{ body }}}
</body>
</html>