{{!-- create a button that will submit the user input into the database --}}

<ul>
    {{#each burgerInfo}}
        <li>
            <p>{{burger_name}}</p>
            <form action="/burger/devour" method="post">
            <input type="submit" name="devourId" value={{id}} />
            </form>
        </li>
    {{/each}}
</ul>

<form action="/burger/new" method="post">
  <label for="burgName">Burger Name:</label>
  <input type="text" id="burgName" name="burgName"><br><br>
  <input type="submit" value="Submit">
</form>
