{{!-- create a button that will submit the user input into the database --}}

<ul>
    {{#each burgerInfo}}
        <li>
            <p data-id={{id}}>{{burger_name}}</p>
        </li>
    {{/each}}
</ul>

<form action="/burger/new" method="post">
  <label for="burgName">Burger Name:</label>
  <input type="text" id="burgName" name="burgName"><br><br>
</form>
